 {% extends 'base.html' %}



{%block content %}




 <div class="container">
      <div class="container-fluid mt-3" >
      <h1 class="display-6 my-2">PAMI - UGL XXXV</h1>

  <div class="row">
  <div class="col-md-3 col-sm-1">

 	<div class="card">

 	   <img src="static/img/catan.jpg" class="card-img-top" alt="...">
  	  <div class="card-body">
   	 	 <h5 class="card-title">GONZALEZ CATAN</h5>
   	 	 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     		  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   	  </div>
  	</div>
 </div>

  <div class="col-md-3 col-sm-1">

  <div class="card">
    <img src="static/img/ramos.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">RAMOS MEJIA</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>

  <div class="col-md-3 col-sm-1">

  <div class="card">
    <img src="static/img/casanova.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ISIDRO CASANOVA</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


  </div>
  <div class="row">
  <div class="col-md-3 col-sm-1">

 <div class="card">
    <img src="static/img/san justo.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAN JUSTO</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>

  <div class="col-md-3 col-sm-1">

  <div class="card">
    <img src="static/img/laferrere.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">G. DE LAFERRERE</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  </div>

</div>

<div class="card-group">
  </div>

 


            
        </div>
{%endblock %}
